# macOS 系统隐藏文件
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.fseventsd

# Node.js 临时缓存与依赖包（本地运行 http-server 产生的内容）
node_modules/
jspm_packages/
.npm
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器与 IDE 临时配置文件
.idea/
.vscode/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?
